.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top: 0;
  background-color: #eff1f5;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.headerConv {
  display: flex;
  justify-content: space-between;
}
